html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	line-height: 1.0;
	min-height: var(--viewport-height);
	min-width: 320px;
	overflow-x: hidden;
	word-wrap: break-word;
}

body:before {
	content: '';
	display: block;
	background-attachment: scroll;
	height: var(--background-height);
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	width: 100vw;
	z-index: 0;
	background-image: linear-gradient(126deg, rgba(0,0,0,0.82) 0%, rgba(0,0,0,0.941) 100%), url('images/bg.jpg');
	background-position: 0% 0%, center;
	background-repeat: repeat, no-repeat;
	background-size: cover, cover;
	background-color: #FFFFFF;
}

body:after {
	background-color: #000000;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	transition: opacity 1.5s ease-in-out 0s, visibility 1.5s 0s;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

body.is-loading:after {
	opacity: 1;
	visibility: visible;
}

:root {
	--background-height: 100vh;
	--site-language-alignment: left;
	--site-language-direction: ltr;
	--site-language-flex-alignment: flex-start;
	--site-language-indent-left: 1;
	--site-language-indent-right: 0;
	--site-language-margin-left: 0;
	--site-language-margin-right: auto;
	--viewport-height: 100vh;
}

html {
	font-size: 18pt;
}

u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 0;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	text-indent: 0;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

spoiler-text {
	-webkit-text-stroke: 0;
	background-color: rgba(32,32,32,0.75);
	text-shadow: none;
	text-stroke: 0;
	color: transparent;
	cursor: pointer;
	transition: color 0.1s ease-in-out;
}

spoiler-text.active {
	color: #FFFFFF;
	cursor: text;
}

s {
	text-decoration: line-through;
}

sub {
	font-size: smaller;
	vertical-align: sub;
}

sup {
	font-size: smaller;
	vertical-align: super;
}

a {
	color: inherit;
	text-decoration: underline;
	transition: color 0.25s ease;
}

a[onclick]:not([href]) {
	cursor: pointer;
}

unloaded-script {
	display: none;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: var(--viewport-height);
	overflow: hidden;
	position: relative;
	z-index: 2;
}

#main {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	--margin-left: auto;
	--margin-right: auto;
	--border-radius-tl: 0;
	--border-radius-tr: 0;
	--border-radius-br: 0;
	--border-radius-bl: 0;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: var(--alignment);
	z-index: 1;
	transition: opacity 1.5s ease-in-out 0s;
}

#main > .inner {
	--padding-horizontal: 4rem;
	--padding-vertical: 6rem;
	--spacing: 1.5rem;
	--width: 40rem;
	border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
	max-width: 100%;
	position: relative;
	width: var(--width);
	z-index: 1;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

#main > .inner > header {
	margin-bottom: var(--spacing);
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > footer {
	margin-top: var(--spacing);
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main > .inner > * > * {
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
}

#main > .inner > * > :first-child {
	margin-top: 0 !important;
}

#main > .inner > * > :last-child {
	margin-bottom: 0 !important;
}

#main > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
	width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}

#main > .inner > .full:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full.screen {
	border-radius: 0 !important;
	max-width: 100vw;
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
	right: auto;
}

#main > .inner > * > .full {
	margin-left: calc(-4rem);
	max-width: calc(100% + 8rem + 0.4725px);
	width: calc(100% + 8rem + 0.4725px);
}

#main > .inner > * > .full.screen {
	border-radius: 0 !important;
	max-width: 100vw;
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
	right: auto;
}

#main > .inner > header > .full:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	margin-top: -6rem !important;
}

#main > .inner > footer > .full:last-child {
	margin-bottom: -6rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

body.is-loading #main {
	opacity: 0;
}

body.is-instant #main, body.is-instant #main > .inner > *,body.is-instant #main > .inner > section > *  {
	transition: none !important;
}

body.is-instant:after {
	display: none !important;
	transition: none !important;
}

@keyframes loading-spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.deferred:before {
	content: '';
	display: block;
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -2rem 0 0 -2rem;
	animation: loading-spinner 1s infinite linear;
	transition: opacity 0.25s ease;
	transition-delay: 0.5s;
	opacity: 0;
	z-index: -1;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNmZmY7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3rem;
}

.deferred.loading:before {
	opacity: 0.35;
	z-index: 0;
}

.image {
	display: block;
	line-height: 0;
	max-width: 100%;
	position: relative;
}

.image .frame {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	vertical-align: top;
	width: 100%;
}

.image .frame img {
	border-radius: 0 !important;
	max-width: 100%;
	vertical-align: top;
	width: inherit;
}

.image.full .frame {
	display: block;
}

.image.full:first-child .frame {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.image.full:last-child .frame {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#image01:not(:first-child) {
	margin-top: 2.5rem !important;
}

#image01:not(:last-child) {
	margin-bottom: 2.5rem !important;
}

#image01 .frame {
	width: 5rem;
	border-radius: 100%;
	border-color: #00FFFF;
	border-style: solid;
	border-width: 3px;
	transition: none;
}

#image01 .frame img {
	transition: none;
}

#image02:not(:first-child) {
	margin-top: 2.5rem !important;
}

#image02:not(:last-child) {
	margin-bottom: 2.5rem !important;
}

#image02 .frame {
	max-width: 100%;
	width: auto;
	transition: none;
}

#image02 .frame img {
	transition: none;
}

h1, h2, h3, p {
	direction: var(--site-language-direction);
	position: relative;
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
	display: block;
	position: relative;
}

h1 span[style], h2 span[style], h3 span[style], p span[style], h1 strong, h2 strong, h3 strong, p strong, h1 a, h2 a, h3 a, p a, h1 code, h2 code, h3 code, p code, h1 mark, h2 mark, h3 mark, p mark, h1 spoiler-text, h2 spoiler-text, h3 spoiler-text, p spoiler-text {
	-webkit-text-fill-color: currentcolor;
}

#text02 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.75rem;
	width: calc(100% + 0.75rem);
	font-size: 3.125em;
	line-height: 1.375;
	font-weight: 200;
}

#text02 a {
	text-decoration: underline;
}

#text02 a:hover {
	text-decoration: none;
}

#text02 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text01 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1em;
	line-height: 1.625;
	font-weight: 300;
}

#text01 a {
	text-decoration: underline;
}

#text01 a:hover {
	text-decoration: none;
}

#text01 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text12 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 2.25em;
	line-height: 1.625;
	font-weight: 400;
}

#text12 a {
	text-decoration: underline;
}

#text12 a:hover {
	text-decoration: none;
}

#text12 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text13 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text13 a {
	text-decoration: underline;
}

#text13 a:hover {
	text-decoration: none;
}

#text13 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text14 {
	text-align: right;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 0.75em;
	line-height: 1.625;
	font-weight: 200;
}

#text14 a {
	text-decoration: underline;
}

#text14 a:hover {
	text-decoration: none;
}

#text14 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text16 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 200;
}

#text16 a {
	text-decoration: underline;
}

#text16 a:hover {
	text-decoration: none;
}

#text16 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text18 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 200;
}

#text18 a {
	text-decoration: underline;
}

#text18 a:hover {
	text-decoration: none;
}

#text18 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text19 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 200;
}

#text19 a {
	text-decoration: underline;
}

#text19 a:hover {
	text-decoration: none;
}

#text19 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text17 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 200;
}

#text17 a {
	text-decoration: underline;
}

#text17 a:hover {
	text-decoration: none;
}

#text17 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text20 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 200;
}

#text20 a {
	text-decoration: underline;
}

#text20 a:hover {
	text-decoration: none;
}

#text20 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text15 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 200;
}

#text15 a {
	text-decoration: underline;
}

#text15 a:hover {
	text-decoration: none;
}

#text15 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text21 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text21 a {
	text-decoration: underline;
}

#text21 a:hover {
	text-decoration: none;
}

#text21 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text22 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text22 a {
	text-decoration: underline;
}

#text22 a:hover {
	text-decoration: none;
}

#text22 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text23 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text23 a {
	text-decoration: underline;
}

#text23 a:hover {
	text-decoration: none;
}

#text23 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text03 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 2.25em;
	line-height: 1.625;
	font-weight: 400;
}

#text03 a {
	text-decoration: underline;
}

#text03 a:hover {
	text-decoration: none;
}

#text03 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text04 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text04 a {
	text-decoration: underline;
}

#text04 a:hover {
	text-decoration: none;
}

#text04 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text11 {
	text-align: right;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1em;
	line-height: 1.625;
	font-weight: 300;
}

#text11 a {
	text-decoration: underline;
}

#text11 a:hover {
	text-decoration: none;
}

#text11 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text07 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text07 a {
	text-decoration: underline;
}

#text07 a:hover {
	text-decoration: none;
}

#text07 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text05 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text05 a {
	text-decoration: underline;
}

#text05 a:hover {
	text-decoration: none;
}

#text05 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text06 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text06 a {
	text-decoration: underline;
}

#text06 a:hover {
	text-decoration: none;
}

#text06 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text08 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text08 a {
	text-decoration: underline;
}

#text08 a:hover {
	text-decoration: none;
}

#text08 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text09 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text09 a {
	text-decoration: underline;
}

#text09 a:hover {
	text-decoration: none;
}

#text09 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text10 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text10 a {
	text-decoration: underline;
}

#text10 a:hover {
	text-decoration: none;
}

#text10 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}

.icons li {
	position: relative;
	z-index: 1;
}

.icons li a {
	align-items: center;
	display: flex;
	justify-content: center;
}

.icons li a svg {
	display: block;
	position: relative;
}

.icons li a + svg {
	display: block;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.icons li a .label {
	display: none;
}

#icons01 {
	font-size: 1.5em;
	gap: 1.5rem;
}

#icons01:not(:first-child) {
	margin-top: 2.25rem !important;
}

#icons01:not(:last-child) {
	margin-bottom: 2.25rem !important;
}

#icons01 li a {
	border-radius: 100%;
	height: 2em;
	width: 2em;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons01 li a svg {
	height: 60%;
	width: 60%;
	transition: fill 0.25s ease;
}

#icons01 a svg {
	fill: #FFFFFF;
}

#icons01 a {
	border: solid 1px #FFFFFF;
}

#icons01 li a + svg {
	transition: fill 0.25s ease, stroke 0.25s ease;
}

#icons01 .n01:hover {
	border-color: #00FFFF !important;
}

#icons01 .n01:hover svg {
	fill: #00FFFF !important;
}

#icons01 .n02:hover {
	border-color: #00FFFF !important;
}

#icons01 .n02:hover svg {
	fill: #00FFFF !important;
}

#icons01 .n03:hover {
	border-color: #00FFFF !important;
}

#icons01 .n03:hover svg {
	fill: #00FFFF !important;
}

#icons03 {
	font-size: 1.5em;
	gap: 1.5rem;
}

#icons03:not(:first-child) {
	margin-top: 2.25rem !important;
}

#icons03:not(:last-child) {
	margin-bottom: 2.25rem !important;
}

#icons03 li a {
	border-radius: 100%;
	height: 2em;
	width: 2em;
	transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons03 li a svg {
	height: 60%;
	width: 60%;
	transition: fill 0.25s ease;
}

#icons03 a svg {
	fill: #FFFFFF;
}

#icons03 a {
	border: solid 1px #FFFFFF;
}

#icons03 li a + svg {
	transition: transform 0.25s ease, fill 0.25s ease, stroke 0.25s ease;
}

#icons03 li a:hover {
	transform: scale(1.13);
}

#icons03 li a:hover + svg {
	transform: scale(1.13);
}

#icons03 .n01:hover {
	border-color: #00FFFF !important;
}

#icons03 .n01:hover svg {
	fill: #00FFFF !important;
}

#icons03 .n02:hover {
	border-color: #00FFFF !important;
}

#icons03 .n02:hover svg {
	fill: #00FFFF !important;
}

#icons04 {
	font-size: 1.5em;
	gap: 1.5rem;
}

#icons04:not(:first-child) {
	margin-top: 2.25rem !important;
}

#icons04:not(:last-child) {
	margin-bottom: 2.25rem !important;
}

#icons04 li a {
	border-radius: 100%;
	height: 2em;
	width: 2em;
	transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons04 li a svg {
	height: 60%;
	width: 60%;
	transition: fill 0.25s ease;
}

#icons04 a svg {
	fill: #FFFFFF;
}

#icons04 a {
	border: solid 1px #FFFFFF;
}

#icons04 li a + svg {
	transition: transform 0.25s ease, fill 0.25s ease, stroke 0.25s ease;
}

#icons04 li a:hover {
	transform: scale(1.13);
}

#icons04 li a:hover + svg {
	transform: scale(1.13);
}

#icons04 .n01:hover {
	border-color: #00FFFF !important;
}

#icons04 .n01:hover svg {
	fill: #00FFFF !important;
}

hr {
	align-items: center;
	border: 0;
	display: flex;
	justify-content: var(--flex-alignment);
	min-height: 1rem;
	padding: 0;
	position: relative;
	width: 100%;
}

hr:before {
	content: '';
}

#divider01:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider01:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider01:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider19:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider19:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider19:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider04:not(:first-child) {
	margin-top: 0rem !important;
}

#divider04:not(:last-child) {
	margin-bottom: 0rem !important;
}

#divider04:before {
	width: 100%;
	border-bottom: solid 4px #FFFFFF;
	border-top: solid 4px #FFFFFF;
	height: 12px;
}

#divider18:not(:first-child) {
	margin-top: 0rem !important;
}

#divider18:not(:last-child) {
	margin-bottom: 0rem !important;
}

#divider18:before {
	width: 100%;
	border-bottom: solid 4px #FFFFFF;
	border-top: solid 4px #FFFFFF;
	height: 12px;
}

#divider02:not(:first-child) {
	margin-top: 1.25rem !important;
}

#divider02:not(:last-child) {
	margin-bottom: 1.25rem !important;
}

#divider02:before {
	width: 5rem;
	background-color: transparent;
	height: 2px;
	border-radius: 0px;
}

#divider11:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider11:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider11:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider12:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider12:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider12:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider13:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider13:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider13:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider10:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider10:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider10:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider14:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider14:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider14:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider09:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider09:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider09:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider15:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider15:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider15:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider23:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider23:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider23:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider16:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider16:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider16:before {
	width: 5rem;
	background-color: transparent;
	height: 2px;
	border-radius: 0px;
}

#divider03:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider03:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider03:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider17:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider17:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider17:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider05:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider05:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider05:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider06:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider06:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider06:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider07:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider07:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider07:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider26:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider26:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider26:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#divider08:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider08:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider08:before {
	width: 5rem;
	background-color: transparent;
	height: 2px;
	border-radius: 0px;
}

#divider20:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider20:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider20:before {
	width: 5rem;
	background-color: #FFFFFF;
	height: 2px;
	border-radius: 0px;
}

#header {
	margin-bottom: 0rem !important;
}

#footer {
	margin-top: 0rem !important;
}

.video {
	position: relative;
}

.video video {
	display: inline-block;
	max-width: 100%;
	vertical-align: top;
}

.video .frame {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	vertical-align: top;
}

.video .frame:before {
	content: '';
	display: block;
	width: 100%;
}

.video .frame iframe {
	bottom: 0px;
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
	background-color: #000000;
}

.video.full video {
	display: block;
}

.video.full:first-child video {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.video.full:last-child video {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.video.full .frame {
	display: block;
}

.video.full:first-child .frame {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.video.full:last-child .frame {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#video03 video {
	border-radius: 0rem;
	width: 32rem;
}

#video03 .frame {
	border-radius: 0rem;
	width: 32rem;
}

#video03 .frame:before {
	padding-top: 56.25%;
}

#video04 video {
	border-radius: 0rem;
	width: 32rem;
}

#video04 .frame {
	border-radius: 0rem;
	width: 32rem;
}

#video04 .frame:before {
	padding-top: 56.25%;
}

#video02 video {
	border-radius: 0rem;
	width: 32rem;
}

#video02 .frame {
	border-radius: 0rem;
	width: 32rem;
}

#video02 .frame:before {
	padding-top: 56.25%;
}

#video05 video {
	border-radius: 0rem;
	width: 32rem;
}

#video05 .frame {
	border-radius: 0rem;
	width: 32rem;
}

#video05 .frame:before {
	padding-top: 56.25%;
}

#video01 video {
	border-radius: 0rem;
	width: 32rem;
}

#video01 .frame {
	border-radius: 0rem;
	width: 32rem;
}

#video01 .frame:before {
	padding-top: 56.25%;
}

#video06 video {
	border-radius: 0rem;
	width: 32rem;
}

#video06 .frame {
	border-radius: 0rem;
	width: 32rem;
}

#video06 .frame:before {
	padding-top: 56.25%;
}

#video07 video {
	border-radius: 0rem;
	width: 32rem;
}

#video07 .frame {
	border-radius: 0rem;
	width: 32rem;
}

#video07 .frame:before {
	padding-top: 56.25%;
}

#video08 video {
	border-radius: 0rem;
	width: 32rem;
}

#video08 .frame {
	border-radius: 0rem;
	width: 32rem;
}

#video08 .frame:before {
	padding-top: 56.25%;
}

.gallery .inner {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

.gallery ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--flex-alignment);
}

.gallery ul li {
	position: relative;
}

.gallery ul li .thumbnail {
	border-radius: inherit;
	position: relative;
}

.gallery ul li .frame {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
}

.gallery ul li img {
	margin: 0;
	max-width: 100%;
	vertical-align: top;
	width: auto;
}

.gallery ul li .caption {
	width: 100%;
}

.gallery ul li .caption p {
	width: 100%;
}

.gallery ul li .caption a, .gallery ul li .caption spoiler-text {
	pointer-events: auto;
}

@keyframes gallery-modal-spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.gallery-modal {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	align-content: center;
	align-items: center;
	background-color: var(--color-background);
	display: grid;
	grid-template-areas: "previous image next" "caption caption caption";
	grid-template-columns: min-content auto min-content;
	height: 100%;
	justify-content: space-between;
	left: 0;
	opacity: 0;
	outline: 0;
	padding: 2rem 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	touch-action: pan-x pinch-zoom;
	transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s, background-color 0.5s ease;
	user-select: none;
	visibility: hidden;
	width: 100%;
	z-index: 0;
}

.gallery-modal:before {
	animation: gallery-modal-spinner 1s infinite linear;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 4rem;
	content: '';
	display: block;
	height: 4rem;
	left: 50%;
	margin: -2rem 0 0 -2rem;
	opacity: 0;
	position: absolute;
	top: 50%;
	transition: opacity 0.25s ease;
	transition-delay: 0.5s;
	width: 4rem;
}

.gallery-modal .inner {
	box-shadow: 0 1em 3em 0 rgba(0,0,0,0.35);
	grid-area: image;
	height: 100%;
	opacity: 0;
	overflow: hidden;
	transform: translateY(0.75em);
	transition: all 0.5s ease;
	width: 100%;
}

.gallery-modal .inner img {
	display: block;
	height: 100%;
	object-fit: contain;
	width: 100%;
	max-width: var(--natural-width, none);
	max-height: var(--natural-height, none);
	margin: 0 auto;
}

.gallery-modal .caption {
	color: var(--color-caption-text);
	font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 1rem;
	grid-area: caption;
	line-height: 1.6;
	opacity: 0;
	padding: 2rem 2rem 0 2rem;
	pointer-events: none;
	text-align: center;
	transform: translateY(0.25em);
	transition: all 0.5s ease;
}

.gallery-modal .caption::-webkit-scrollbar {
	display: none;
}

.gallery-modal .caption a, .gallery-modal .caption spoiler-text {
	pointer-events: auto;
}

.gallery-modal .nav {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3rem;
	cursor: pointer;
	height: 6rem;
	transition: opacity 0.25s ease, transform 0.5s ease;
	width: 8rem;
}

.gallery-modal .nav:hover {
	opacity: 1 !important;
}

.gallery-modal .nav.next {
	grid-area: next;
}

.gallery-modal .nav.previous {
	grid-area: previous;
	transform: scaleX(-1);
}

.gallery-modal .close {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-position: top 1rem right 1rem;
	background-repeat: no-repeat;
	background-size: 3rem;
	cursor: pointer;
	display: block;
	height: 6rem;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.25s ease, transform 0.5s ease;
	width: 6rem;
}

.gallery-modal .close:hover {
	opacity: 1 !important;
}

.gallery-modal.visible {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
	z-index: 10000;
}

.gallery-modal.visible:before {
	opacity: 1;
}

.gallery-modal.loaded:before {
	opacity: 0 !important;
	transition-delay: 0s !important;
}

.gallery-modal.loaded .inner {
	opacity: 1;
	transform: translateY(0);
}

.gallery-modal.loaded .caption {
	opacity: 1;
	transform: translateY(0);
}

.gallery-modal.switching .inner {
	transition: opacity 0.375s ease, transform 0.5s ease;
}

.gallery-modal.switching.from-left .inner {
	transform: translateY(0) translateX(-1.5em);
}

.gallery-modal.switching.from-right .inner {
	transform: translateY(0) translateX(1.5em);
}

.gallery-modal.switching.done .inner {
	transition: opacity 0.375s ease;
	transform: translateY(0) translateX(0);
}

.gallery-modal.zooming {
	background-color: var(--color-background-zooming);
}

.gallery-modal.zooming .caption {
	opacity: 0;
}

.gallery-modal.zooming .nav.next {
	opacity: 0;
	pointer-events: none;
	transform: translateX(50%);
}

.gallery-modal.zooming .nav.previous {
	opacity: 0;
	pointer-events: none;
	transform: translateX(-50%) scaleX(-1);
}

.gallery-modal.zooming .close {
	opacity: 0;
	pointer-events: none;
	transform: translateX(50%) translateY(-50%);
}

.gallery-modal.dark {
	--color-background: rgba(10,10,10,0.85);
	--color-background-zooming: rgba(0,0,0,1);
	--color-caption-text: #FFFFFF;
}

.gallery-modal.dark:before {
	animation: gallery-modal-spinner 1s infinite linear;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNGRkZGRkY7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==');
}

.gallery-modal.dark .close {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICNGRkZGRkY7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjAiIHkxPSIyMCIgeDI9IjQ0IiB5Mj0iNDQiIC8+PGxpbmUgeDE9IjIwIiB5MT0iNDQiIHgyPSI0NCIgeTI9IjIwIiAvPjwvc3ZnPg==');
	opacity: 0.25;
}

.gallery-modal.dark .nav {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICNGRkZGRkY7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjQiIHkxPSI4IiB4Mj0iNDgiIHkyPSIzMiIgLz48bGluZSB4MT0iMjQiIHkxPSI1NiIgeDI9IjQ4IiB5Mj0iMzIiIC8+PC9zdmc+');
	opacity: 0.25;
}

.gallery-modal.light {
	--color-background: rgba(255,255,255,0.9);
	--color-background-zooming: rgba(255,255,255,1);
	--color-caption-text: #000000;
}

.gallery-modal.light:before {
	animation: gallery-modal-spinner 1s infinite linear;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICMwMDAwMDA7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==');
}

.gallery-modal.light .close {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICMwMDAwMDA7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjAiIHkxPSIyMCIgeDI9IjQ0IiB5Mj0iNDQiIC8+PGxpbmUgeDE9IjIwIiB5MT0iNDQiIHgyPSI0NCIgeTI9IjIwIiAvPjwvc3ZnPg==');
	opacity: 0.375;
}

.gallery-modal.light .nav {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICMwMDAwMDA7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjQiIHkxPSI4IiB4Mj0iNDgiIHkyPSIzMiIgLz48bGluZSB4MT0iMjQiIHkxPSI1NiIgeDI9IjQ4IiB5Mj0iMzIiIC8+PC9zdmc+');
	opacity: 0.375;
}

#gallery01:not(:first-child) {
	margin-top: 0rem !important;
}

#gallery01:not(:last-child) {
	margin-bottom: 0rem !important;
}

#gallery01 .inner {
	max-width: 100%;
	width: 100%;
}

#gallery01 ul li {
	border-radius: 0rem;
	width: 100%;
}

#gallery01 ul li .frame {
	border-radius: 0rem;
	display: block;
}

#gallery01 ul {
	flex-direction: column;
	gap: 0rem;
}

#gallery01 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery01 ul li img {
	display: block;
	width: 100%;
}

#gallery01 ul li .thumbnail img {
	transition: none;
}

#gallery04:not(:first-child) {
	margin-top: 0rem !important;
}

#gallery04:not(:last-child) {
	margin-bottom: 0rem !important;
}

#gallery04 .inner {
	max-width: 100%;
	width: 100%;
}

#gallery04 ul li {
	border-radius: 0rem;
	width: 100%;
}

#gallery04 ul li .frame {
	border-radius: 0rem;
	display: block;
}

#gallery04 ul {
	flex-direction: column;
	gap: 0rem;
}

#gallery04 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery04 ul li img {
	display: block;
	width: 100%;
}

#gallery04 ul li .thumbnail img {
	transition: none;
}

#gallery02:not(:first-child) {
	margin-top: 0rem !important;
}

#gallery02:not(:last-child) {
	margin-bottom: 0rem !important;
}

#gallery02 .inner {
	max-width: 100%;
	width: 100%;
}

#gallery02 ul li {
	border-radius: 0rem;
	width: 100%;
}

#gallery02 ul li .frame {
	border-radius: 0rem;
	display: block;
}

#gallery02 ul {
	flex-direction: column;
	gap: 0rem;
}

#gallery02 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery02 ul li img {
	display: block;
	width: 100%;
}

#gallery02 ul li .thumbnail img {
	transition: none;
}

#gallery03:not(:first-child) {
	margin-top: 0rem !important;
}

#gallery03:not(:last-child) {
	margin-bottom: 0rem !important;
}

#gallery03 .inner {
	max-width: 100%;
	width: 100%;
}

#gallery03 ul li {
	border-radius: 0rem;
	width: 100%;
}

#gallery03 ul li .frame {
	border-radius: 0rem;
	display: block;
}

#gallery03 ul {
	flex-direction: column;
	gap: 0rem;
}

#gallery03 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery03 ul li img {
	display: block;
	width: 100%;
}

#gallery03 ul li .thumbnail img {
	transition: none;
}

#gallery05:not(:first-child) {
	margin-top: 0rem !important;
}

#gallery05:not(:last-child) {
	margin-bottom: 0rem !important;
}

#gallery05 .inner {
	max-width: 100%;
	width: 100%;
}

#gallery05 ul li {
	border-radius: 0rem;
	width: 100%;
}

#gallery05 ul li .frame {
	border-radius: 0rem;
	display: block;
}

#gallery05 ul {
	flex-direction: column;
	gap: 0rem;
}

#gallery05 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery05 ul li img {
	display: block;
	width: 100%;
}

#gallery05 ul li .thumbnail img {
	transition: none;
}

#gallery06:not(:first-child) {
	margin-top: 0rem !important;
}

#gallery06:not(:last-child) {
	margin-bottom: 0rem !important;
}

#gallery06 .inner {
	max-width: 100%;
	width: 100%;
}

#gallery06 ul li {
	border-radius: 0rem;
	width: 100%;
}

#gallery06 ul li .frame {
	border-radius: 0rem;
	display: block;
}

#gallery06 ul {
	flex-direction: column;
	gap: 0rem;
}

#gallery06 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery06 ul li img {
	display: block;
	width: 100%;
}

#gallery06 ul li .thumbnail img {
	transition: none;
}

#gallery07:not(:first-child) {
	margin-top: 0rem !important;
}

#gallery07:not(:last-child) {
	margin-bottom: 0rem !important;
}

#gallery07 .inner {
	max-width: 100%;
	width: 100%;
}

#gallery07 ul li {
	border-radius: 0rem;
	width: 100%;
}

#gallery07 ul li .frame {
	border-radius: 0rem;
	display: block;
}

#gallery07 ul {
	flex-direction: column;
	gap: 0rem;
}

#gallery07 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery07 ul li img {
	display: block;
	width: 100%;
}

#gallery07 ul li .thumbnail img {
	transition: none;
}

@media (orientation: portrait) {
	.gallery-modal {
		grid-template-areas: "image" "caption";
		grid-template-columns: auto;
		justify-content: center;
	}
	
	.gallery-modal .nav {
		background-image: none !important;
		mix-blend-mode: difference;
		opacity: 1 !important;
		position: absolute;
	}
	
	.gallery-modal .nav.next {
		right: 0;
	}
	
	.gallery-modal .nav.previous {
		left: 0;
	}
	
	.gallery-modal .nav:before {
		background-color: rgba(144,144,144,0.5);
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICNGRkZGRkY7c3Ryb2tlLXdpZHRoOiAzcHg7fTwvc3R5bGU+PGxpbmUgeDE9IjI0IiB5MT0iOCIgeDI9IjQ4IiB5Mj0iMzIiIC8+PGxpbmUgeDE9IjI0IiB5MT0iNTYiIHgyPSI0OCIgeTI9IjMyIiAvPjwvc3ZnPg==');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 1.5rem;
		border-radius: 3rem;
		content: '';
		display: block;
		height: 3rem;
		position: absolute;
		right: 1rem;
		top: calc(50% - 1.5rem);
		width: 3rem;
	}
}

@media (max-width: 1920px) {
	
}

@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}
	
	
	
	.gallery-modal .nav {
		opacity: 1 !important;
	}
	
	.gallery-modal .close {
		opacity: 1 !important;
	}
}

@media (max-width: 1024px) {
	
}

@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 11pt;
	}
	
	
	
	#main > .inner {
		--padding-horizontal: 2rem;
		--padding-vertical: 3.5rem;
		--spacing: 1.5rem;
	}
	
	#main > .inner > * > .full {
		margin-left: calc(-2rem);
		max-width: calc(100% + 4rem + 0.4725px);
		width: calc(100% + 4rem + 0.4725px);
	}
	
	#main > .inner > * > .full.screen {
		margin-left: -50vw;
	}
	
	#main > .inner > header > .full:first-child {
		margin-top: -3.5rem !important;
	}
	
	#main > .inner > footer > .full:last-child {
		margin-bottom: -3.5rem !important;
	}
	
	#image01:not(:first-child) {
		margin-top: 1.875rem !important;
	}
	
	#image01:not(:last-child) {
		margin-bottom: 1.875rem !important;
	}
	
	#image01 .frame {
		width: 5rem;
	}
	
	#image02:not(:first-child) {
		margin-top: 1.875rem !important;
	}
	
	#image02:not(:last-child) {
		margin-bottom: 1.875rem !important;
	}
	
	#text02 {
		letter-spacing: 0.65625rem;
		width: calc(100% + 0.65625rem);
		font-size: 3em;
		line-height: 1.375;
	}
	
	#text01 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1em;
		line-height: 1.625;
	}
	
	#text12 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 2.25em;
		line-height: 1.625;
	}
	
	#text13 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text14 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 0.75em;
		line-height: 1.625;
	}
	
	#text16 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text18 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text19 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text17 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text20 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text15 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text21 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text22 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text23 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text03 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 2.25em;
		line-height: 1.625;
	}
	
	#text04 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text11 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1em;
		line-height: 1.625;
	}
	
	#text07 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text05 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text06 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text08 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text09 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text10 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#icons01 {
		font-size: 1.5em;
		gap: 1.5rem;
	}
	
	#icons01:not(:first-child) {
		margin-top: 1.6875rem !important;
	}
	
	#icons01:not(:last-child) {
		margin-bottom: 1.6875rem !important;
	}
	
	#icons03 {
		font-size: 1.5em;
		gap: 1.5rem;
	}
	
	#icons03:not(:first-child) {
		margin-top: 1.6875rem !important;
	}
	
	#icons03:not(:last-child) {
		margin-bottom: 1.6875rem !important;
	}
	
	#icons04 {
		font-size: 1.5em;
		gap: 1.5rem;
	}
	
	#icons04:not(:first-child) {
		margin-top: 1.6875rem !important;
	}
	
	#icons04:not(:last-child) {
		margin-bottom: 1.6875rem !important;
	}
	
	#divider01:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider01:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider01:before {
		width: 5rem;
	}
	
	#divider19:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider19:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider19:before {
		width: 5rem;
	}
	
	#divider04:not(:first-child) {
		margin-top: 0rem !important;
	}
	
	#divider04:not(:last-child) {
		margin-bottom: 0rem !important;
	}
	
	#divider18:not(:first-child) {
		margin-top: 0rem !important;
	}
	
	#divider18:not(:last-child) {
		margin-bottom: 0rem !important;
	}
	
	#divider02:not(:first-child) {
		margin-top: 1.25rem !important;
	}
	
	#divider02:not(:last-child) {
		margin-bottom: 1.25rem !important;
	}
	
	#divider02:before {
		width: 5rem;
	}
	
	#divider11:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider11:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider11:before {
		width: 5rem;
	}
	
	#divider12:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider12:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider12:before {
		width: 5rem;
	}
	
	#divider13:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider13:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider13:before {
		width: 5rem;
	}
	
	#divider10:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider10:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider10:before {
		width: 5rem;
	}
	
	#divider14:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider14:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider14:before {
		width: 5rem;
	}
	
	#divider09:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider09:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider09:before {
		width: 5rem;
	}
	
	#divider15:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider15:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider15:before {
		width: 5rem;
	}
	
	#divider23:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider23:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider23:before {
		width: 5rem;
	}
	
	#divider16:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider16:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider16:before {
		width: 5rem;
	}
	
	#divider03:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider03:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider03:before {
		width: 5rem;
	}
	
	#divider17:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider17:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider17:before {
		width: 5rem;
	}
	
	#divider05:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider05:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider05:before {
		width: 5rem;
	}
	
	#divider06:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider06:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider06:before {
		width: 5rem;
	}
	
	#divider07:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider07:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider07:before {
		width: 5rem;
	}
	
	#divider26:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider26:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider26:before {
		width: 5rem;
	}
	
	#divider08:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider08:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider08:before {
		width: 5rem;
	}
	
	#divider20:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider20:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider20:before {
		width: 5rem;
	}
	
	#header {
		margin-bottom: 0rem !important;
	}
	
	#footer {
		margin-top: 0rem !important;
	}
	
	#video03 video {
		width: 32rem;
	}
	
	#video03 .frame {
		width: 32rem;
	}
	
	#video04 video {
		width: 32rem;
	}
	
	#video04 .frame {
		width: 32rem;
	}
	
	#video02 video {
		width: 32rem;
	}
	
	#video02 .frame {
		width: 32rem;
	}
	
	#video05 video {
		width: 32rem;
	}
	
	#video05 .frame {
		width: 32rem;
	}
	
	#video01 video {
		width: 32rem;
	}
	
	#video01 .frame {
		width: 32rem;
	}
	
	#video06 video {
		width: 32rem;
	}
	
	#video06 .frame {
		width: 32rem;
	}
	
	#video07 video {
		width: 32rem;
	}
	
	#video07 .frame {
		width: 32rem;
	}
	
	#video08 video {
		width: 32rem;
	}
	
	#video08 .frame {
		width: 32rem;
	}
	
	.gallery-modal .close {
		background-position: top 0.5rem right 0.5rem;
	}
	
	#gallery01:not(:first-child) {
		margin-top: 0rem !important;
	}
	
	#gallery01:not(:last-child) {
		margin-bottom: 0rem !important;
	}
	
	#gallery04:not(:first-child) {
		margin-top: 0rem !important;
	}
	
	#gallery04:not(:last-child) {
		margin-bottom: 0rem !important;
	}
	
	#gallery02:not(:first-child) {
		margin-top: 0rem !important;
	}
	
	#gallery02:not(:last-child) {
		margin-bottom: 0rem !important;
	}
	
	#gallery03:not(:first-child) {
		margin-top: 0rem !important;
	}
	
	#gallery03:not(:last-child) {
		margin-bottom: 0rem !important;
	}
	
	#gallery05:not(:first-child) {
		margin-top: 0rem !important;
	}
	
	#gallery05:not(:last-child) {
		margin-bottom: 0rem !important;
	}
	
	#gallery06:not(:first-child) {
		margin-top: 0rem !important;
	}
	
	#gallery06:not(:last-child) {
		margin-bottom: 0rem !important;
	}
	
	#gallery07:not(:first-child) {
		margin-top: 0rem !important;
	}
	
	#gallery07:not(:last-child) {
		margin-bottom: 0rem !important;
	}
}

@media (max-width: 480px) {
	#main > .inner {
		--spacing: 1.3125rem;
	}
}

@media (max-width: 360px) {
	#main > .inner {
		--padding-horizontal: 1.5rem;
		--padding-vertical: 2.625rem;
		--spacing: 1.125rem;
	}
	
	#main > .inner > * > .full {
		margin-left: calc(-1.5rem);
		max-width: calc(100% + 3rem + 0.4725px);
		width: calc(100% + 3rem + 0.4725px);
	}
	
	#main > .inner > * > .full.screen {
		margin-left: -50vw;
	}
	
	#main > .inner > header > .full:first-child {
		margin-top: -2.625rem !important;
	}
	
	#main > .inner > footer > .full:last-child {
		margin-bottom: -2.625rem !important;
	}
	
	#text02 {
		font-size: 3em;
	}
	
	#text01 {
		font-size: 1em;
	}
	
	#text12 {
		font-size: 2em;
	}
	
	#text13 {
		font-size: 1.5em;
	}
	
	#text14 {
		font-size: 0.75em;
	}
	
	#text16 {
		font-size: 1.5em;
	}
	
	#text18 {
		font-size: 1.5em;
	}
	
	#text19 {
		font-size: 1.5em;
	}
	
	#text17 {
		font-size: 1.5em;
	}
	
	#text20 {
		font-size: 1.5em;
	}
	
	#text15 {
		font-size: 1.5em;
	}
	
	#text21 {
		font-size: 1.5em;
	}
	
	#text22 {
		font-size: 1.5em;
	}
	
	#text23 {
		font-size: 1.5em;
	}
	
	#text03 {
		font-size: 2em;
	}
	
	#text04 {
		font-size: 1.5em;
	}
	
	#text11 {
		font-size: 1em;
	}
	
	#text07 {
		font-size: 1.5em;
	}
	
	#text05 {
		font-size: 1.5em;
	}
	
	#text06 {
		font-size: 1.5em;
	}
	
	#text08 {
		font-size: 1.5em;
	}
	
	#text09 {
		font-size: 1.5em;
	}
	
	#text10 {
		font-size: 1.5em;
	}
	
	#icons01 {
		gap: 1.125rem;
	}
	
	#icons03 {
		gap: 1.125rem;
	}
	
	#icons04 {
		gap: 1.125rem;
	}
}